<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>Servlet.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEmpresa</servlet-name>
        <servlet-class>Servlet.RegistrarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEmpresa</servlet-name>
        <servlet-class>Servlet.ModificarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTrabajo</servlet-name>
        <servlet-class>Servlet.RegistrarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarTrabajo</servlet-name>
        <servlet-class>Servlet.ActualizarTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPostulaciones</servlet-name>
        <servlet-class>Servlet.ListarPostulaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEmpresa</servlet-name>
        <url-pattern>/RegistrarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEmpresa</servlet-name>
        <url-pattern>/ModificarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTrabajo</servlet-name>
        <url-pattern>/RegistrarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarTrabajo</servlet-name>
        <url-pattern>/ActualizarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPostulaciones</servlet-name>
        <url-pattern>/ListarPostulaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
